@charset "UTF-8";




@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');




main{

    background-image:linear-gradient(to top, #f0dfd2, #f1dfd0, #f7e3d4);

}




.fonte-formpet{

    font-family: 'Fredoka One', cursive;

}




.cor-bg-cabecalho{

    background-image: url(../img/fundin.jpg);

}




.cor-btn-cabecalho{  /*Cor dos botões de interação do cabeçalho*/

    font-family: 'Fredoka One', cursive;

    text-align: center;

    text-decoration: none;

    color: #fff;

    background-color: #ff8600;  

    border:3px solid #fff;

    border-radius: 25px;

    padding: 10px;

    width: 170px;

    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.142);

}




.cor-btn-cabecalho:hover{

    color: #fff;

    background-color: #261e1e;

}




.fonte-titulo-home{

    font-family: 'Fredoka One', cursive;

}




.cor-btn-blocopets{

    font-family: 'Fredoka One', cursive;

    text-align: center;

    text-decoration: none;

    color: #fff;

    background-color: #ff8600;  

    border:3px solid #fff;

    border-radius: 25px;

    padding: 10px;

    width: 170px;

    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.142);

}




.cor-btn-blocopets:hover{

    color: #fff;

    background-color: #261e1e;

}




.fonte-titulo-abrigos{

    font-family: 'Fredoka One', cursive;

}





.cor-rodape{

    background-color: #261e1e;

    color: #fff ;

}

/* .cards-abrigo-posicao{
    text-align: center;
    margin: auto;
} */